# Exclure les dossiers de scripts par défaut
bin/

# Ignorer de manière récursive les dossiers lourds
data/
raw/
containers/
resources/
ref/
results/
resultats/
PICRUST2_OUT/
tmp_rep/
log/

# Ignorer les gros fichiers de données
*.tsv
*.csv
*.fasta
*.fastq
*.fastq.gz

# Fichiers système et R
.Rhistory
.RData
*.save
